<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>Hello mấy chế!!!</title>
        <meta charset="UTF-8">
        <base href="http://127.0.0.1:8000/">
        <link type="image/png" sizes="16x16" rel="icon" href="./Favicon.png">
    </head>
    <body>
    	<span style="font-size: 30px">Chào tất cả mọi người</span></h1>
        <div id="submit">
            <form method="post" action="uploadfile/"  enctype="multipart/form-data">   
                <label for="file">Choose file to upload</label> </br>
                <input type="file" name="files" multiple>
                <input type="submit" value="Up">
            </form>
        </div>
    </body>

    
</html>